<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h2>Statistics</h2>
      <ul>
        {{benderStatistics}}
      </ul>
      <h2>Characters:</h2>
      <p v-if="charactersList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in charactersList">
          <p>{{ character.name }}</p>
          <button @click="favoriteCharacter(character)">
            {{character.isFavorited ? ' ⭐️ Favorited' : 'Favorite ' }}
          </button>
        </li>
      </ul>
      <hr />
      <h2>Favorited:</h2>
      <p v-if="favoriteList.length === 0">No favorited characters...</p>
      <ul v-else>
        <li v-for="character in favoriteList">{{ character.name }}</li>
      </ul>
      <h2>Add new character</h2>
      <pre>{{newCharacter}}</pre>
      <label for="character-name">Name</label>
      <input v-model="newCharacter.name" @keyup.enter="addNewCharacter" />
      <!-- <p>
        <span v-for="(character, index) in charactersList"
          >{{ character.name }}{{ index === charactersList.length - 1 ? '' : `,
          `}}
        </span>
      </p> -->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          newCharacter: { name: '', isFavorited: false, element: [] },
          charactersList: [
            {
              name: 'Aang',
              isFavorited: false,
              element: ['Air', 'Earth', 'Water', 'Fire'],
            },
            { name: 'Zuko', isFavorited: false, element: ['Fire'] },
            { name: 'Toph', isFavorited: false, element: ['Earth'] },
            { name: 'Katara', isFavorited: false, element: ['Water'] },
          ],
          favoriteList: [],
        }),
        computed: {
          benderStatistics() {
            const elements = ['Air', 'Earth', 'Fire', 'Water'];

            const statistics = {
              Air: 0,
              Earth: 0,
              Water: 0,
              Fire: 0,
            };

            this.charactersList.forEach((character) => {
              elements.forEach((element) => {
                if (character.element.indexOf(element) > -1) {
                  statistics[element] += 1;
                }
              });
            });

            return statistics;
          },
        },
        methods: {
          favoriteCharacter(character) {
            if (!character.isFavorited) {
              this.favoriteList.push(character);
              character.isFavorited = true;
            }
          },
          addNewCharacter() {
            this.charactersList.push(this.newCharacter);
            this.newCharacter = { name: '', isFavorited: false };
          },
        },
        watch: {},
      }).mount('#app');
    </script>
  </body>
</html>
